*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  background-color: #CCC;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 110%;
  overflow: auto;
}

.flex-container > div {
  width: 200px;
  min-width: 200px;
  min-height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 0;
}

.flex-container >  div:first-child {
  margin-left: 10px;
}

div.panel.add-card {
  .panel-heading {
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #bbb;
    cursor: pointer;
  }

  .pull-right {
    padding-top: 3px;
  }
}

div.panel-heading.active {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;

  input[type=text] {
    padding-left: 2px;
  }
}